<form method="post" action="/memos/edit">
  <div>
    タイトル
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="title" value="<%= @memo["title"] %>">
  </div>
  <div>
    本文
  </div>
  <div>
    <textarea name="content"><%= @memo["content"] %></textarea>
  </div>
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id" value="<%= @memo["id"] %>">
  <input type="submit" value="保存">
</form>
