<h2>メモ一覧</h2>
  <form method="post" action="/memos/posts">
    <div>
      <input type="text" name="title">
    </div>

    <div>
      <textarea name="content"></textarea>
    </div>
    <input type="submit" value="保存">
  </form>
