<form method="post" action="/memos">
  <div>
    タイトル
  </div>
  <input type="text" name="title" class="box_title" placeholder="タイトルを入力してください(30文字以内)">

  <div>
    本文
  </div>
    <textarea class="box_content" name="content" placeholder="内容を入力してください(1000文字以内)"></textarea>
  <div class="button">
    <input type="submit" value="保存">
  </div>

  <div class="link">
    <a href="http://localhost:4567/memos">戻る</a>
  </div>  
</form>
